body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
/* header */
.adalab__header {
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #4a4a4a;
  font-size: 16px;
}
.menu__list {
  padding: 0;
  display: flex;
  list-style: none;
  margin: 10px auto;
}
.menu__buttom {
  margin-right: 20px;
}
.logo-adalab {
  margin-top: 10px;
  width: 155px;
}

/* main */
.adalab__main {
  position: relative;
  top: 113px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3CDBC0;
  color: #FFFFFF;
  font-size: 30px;
}
