body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

/* header */
.adalab__header {
  padding: 10px 0 13px;
  background-color: white;
  color: #4a4a4a;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.adalab__image {
  max-width: 155px;
}
.menu__list {
  margin: 10px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
}
.menu__buttom:not(:last-child) {
  margin-right: 20px;
}
.menu__link {
  color: #4a4a4a;
  text-decoration: none;
}

/* @media header tablet */
@media all and (min-width:768px) {
  .adalab__header {
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* main */
.adalab__main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3CDBC0;
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
}
.adalab-home__title {
  font-size: 30px;
  max-width: 150px;
}

/* @media main tablet */
@media all and (min-width:768px) {
  .adalab-home__title  {
    font-size: 40px;
    max-width: 200px;
  }
}

